@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #0f4162;
    --black: #1a1a1a;
    --light-blue: #347190;
    --light-grey: #d0d0d0;
    --light-white: #ffffff;
    --red: #d9534f;
    --background-gradient: linear-gradient(40deg, rgba(17, 65, 100, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(184, 184, 184, 1) 100%);
    --amiri: "Amiri";
    --roboto: "Roboto";
    --libertinus-serif: "Libertinus Serif";
    --zain: "Zain";
    --poppins: "Poppins";
}

body {
    background: var(--background-gradient);
    color: var(--black);
    font-family: var(--poppins), sans-serif;
    min-height: 100vh !important;
    max-width: 100%;
}

.section-divider {
    width: 1px;
    min-height: 100%;
}

.hidden, .sr-only {
    display: none !important;
}

.my-btn{
    width: 10rem;
    border: none;
    border-bottom: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    padding: 0.5rem;
    background: none;
}

.my-btn > i {
    margin-right: 0.5rem;
}

.table-responsive{
    max-height: 20rem;
    width: 600px;
}

.table-modal{
    max-width: 100%;
    width: 100%;
    max-height: 15rem;
}

.modal-dialog {
    width: 600px;
}


.main-container{
    max-width: 100%;
}

.close {
    border-radius: 50%;
    border: solid 1px var(--dark-blue);
    color: var(--dark-blue);
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
}

.inputs {
    min-width: 215px;
}

#area-tab > div{
        margin: 0 auto;
    }

@media screen and (max-width: 1000px) {
    .table-responsive{
        width: 100%;
    }

    #area-tab {
        flex-wrap: wrap !important; 
    }

    
}

@media screen and (max-width: 720px) {
    #area-tab {
        flex-direction: column !important;
    }

    .section-divider {
        min-width: 100%;
        min-height: 1px;
        max-height: 1px;
        height: 1px;
    }
}

@media screen and (max-width: 720px) {
    .table-section, .table-section *{
        max-width: 100%;
    }
}