@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #0f4162;
    --black: #1a1a1a;
    --light-blue: #347190;
    --light-grey: #d0d0d0;
    --light-white: #ffffff;
    --red: #d9534f;
    --background-gradient: linear-gradient(40deg, rgba(17, 65, 100, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(184, 184, 184, 1) 100%);
    --amiri: "Amiri";
    --roboto: "Roboto";
    --libertinus-serif: "Libertinus Serif";
    --zain: "Zain";
    --poppins: "Poppins";
}

body {
    background: var(--background-gradient);
    color: var(--black);
    font-family: var(--poppins), sans-serif;
}