.nav-link{
    height: 3rem;
    max-height: none;
    width: 10rem;
    min-width: none;
    transition: all 0.3s ease;
    font-family: var(--zain), serif;
    border: 1px solid var(--dark-blue) !important;
    border-radius: 0.5rem !important;
    margin: 0 0.5rem !important;
    color: var(--dark-blue);
}

.nav-link.active {
    background-color: var(--dark-blue) !important;
    color: white !important;
}

.table {
    border-radius: 0.5rem !important;
    max-height: 5rem !important;
    overflow-y: auto;
}