{% extends "base.html" %}

{% block title %}Contact Area - Binary City's Practical Test{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/contact.css">
{% endblock %}

{% block content %}
    <div class="container-fluid text-center vh-100 d-flex flex-column align-items-center">
        <h1 class="display-4">Welcome to Contact Area</h1>
        <p class="lead">Create and manage contact information.</p>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/contact.js"></script>
{% endblock %}