{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}
    <div class="container-fluid text-center vh-100 d-flex flex-column align-items-center py-5 px-2">
        <h1 class="display-5">Welcome to Binary <span class="text-danger">City</span>'s Practical Test App!</h1>
        <p class="lead">This is the home page. Use the buttons to explore the app.</p>
        <div class="mt-4 d-flex flex-row gap-3" id="btn-group">
            <a href="/client" class="btn btn-primary btn-lg d-flex align-items-center justify-content-center">Client Area</a>
            <a href="/contact" class="btn btn-primary btn-lg d-flex align-items-center justify-content-center">Contact Area</a>
        </div>
    </div>
{% endblock %}